@(message: String)

@main("ScalaUserGroup.org") {
<h1>Upcoming Meetings</h1>
<p>Our first meeting is scheduled for Saturday, December 13, 9:00 AM to 10:30 AM on <a href="https://plus.google.com/events/cktdoe3k76ug0pi7g7k4vdj531c">Google Hangouts</a>.
The point of this meeting is to get to know one another, discuss our interest in Scala and what we hope to gain out of the group.</p>
<p>Here are some things we might discuss.  Please feel free to add more either using our <a href="https://groups.yahoo.com/group/ScalaUserGroup">mailing list</a> or by forking this page and sending a pull request.  Meantime if nothing on this list appeals to you, remember this list is just my first attempt at an agenda and we can certainly discuss other ideas when we meet.</p>
<ul>
<li>How are you learning Scala?  What resources have proven useful to you?</li>
<li>Would you be interested in a discussion where we spend a short time each month discussing code samples we develop around a particular Scala Book such as perhaps one of those <a href="https://github.com/CodeSolid/ScalaTalkSacjug/blob/master/resources.md">listed here</a>?</li>
<li>Would you prefer to see individual presenters at future meetings or a round-robin where some of us each give small mini-presentations?</li>
<li>How can the group be of help to you in your career and professional goals?  How in turn can you help others in the group?</li>
</ul>
}
