@(message: String)

@main("ScalaUserGroup.org") {
<h1>Members</h1>
<h3>John Lockwood</h3>
<p>John Lockwood, our founder and fearless not-the-leader, started this group because he was tired
of learning new technologies on his own, and thought it might be fun in the case of Scala to <strike>drag you down with me</strike> share the joy of learning this language with others.  He hangs out at <a href="http://codesolid.com">CodeSolid.com</a> and has been known to frequent other nefarious places like <a href="www.linkedin.com/in/codesolid/">LinkedIn</a> and <a href="http://twitter.com/JohnLockwood">Twitter</a>.</p>
<h3>Your Name In Lights (well, on this page...)</h3>
<p>To do that, just go ahead and <a href="https://github.com/CodeSolid/ScalaUserGroup">fork the repo</a> and send me a pull request.  We might even get smarter about the user profile format.</p>
}
